<div class='product-details'>
  {{! Header }}
  <section>
    <h3>Buddy Brew Coffee Beans</h3>
    <div class='text-warning'>
      <i class='fa fa-star'></i>
      <i class='fa fa-star'></i>
      <i class='fa fa-star'></i>
      <i class='fa fa-star'></i>
      <i class='fa fa-star-half-o'></i>
    </div>
  </section>

  {{! Price }}
  <section>
    <del class='small text-black-50'>$24.99</del>
    <i class='text-danger font-weight-bold'>$19.99</i>
  </section>
</div>