{{page-title 'Item'}}
<GeneralContainer>
  <div class='product item-details-page'>
    <Product::Image />
    <Product::Details />
  </div>
  <section class='features'>
    <h5 class='mt-5'>Features</h5>
    <ul>
      <li>Fresh roasted then immediately packed and sealed to assure freshness.</li>
      <li>Flavor and Roast: Fresh citrus, sugarcane, sunshine. Lightly roasted
        and flavorful to the last drop.
      </li>
      <li>100% Customer Satisfaction Guaranteed.</li>
    </ul>
  </section>
</GeneralContainer>

{{outlet}}